.participant-name {

}

.participant-name:hover {
}

.participant-indicators {
  position: absolute;
  bottom: 0.25rem;
  left: 0;
}

.lk-pagination-control {
  transform: translateX(-10%) !important;
}

.lk-room-container {
  background: antiquewhite;
  min-height: 1500px;
}
