.participant-name {
  color: red;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.participant-name:hover {
  color: darkred;
}

.participant-indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lk-pagination-control {
  transform: translateX(-10%) !important;
}

.lk-room-container {
  background: antiquewhite;
  min-height: 1500px;
}
