.participant-name {

}

.participant-name:hover {
}

.participant-indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -25px;
}

.lk-pagination-control {
  transform: translateX(-10%) !important;
}

.lk-room-container {
  background: antiquewhite;
  min-height: 1500px;
}
